*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

 body
 {
    font-family: "Roboto", sans-serif;
 }
 
 nav{
    background-color: #fff;
    width: 1583px;
    height: 71px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .logo {

    background-image: url('../../assets/images/logo.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 100px; 
 }

.ul
{
    display: flex;
    align-items: center;
}

.ul li
{
    margin: 0 30px;
    font-size: 15px;
}

.ul li a
{
    color: var(--branco);
}

/*botão Login*/
.Login {
    font-size: 14px;
    color: #222;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .login:focus, .Login:hover {
    color: #222;
  }
  
.Login:focus:after, .Login:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .Login:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #F38342;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  /*Botão Cadastro*/
.Cadastro {
    --primary-color: #F38342;
    --secondary-color: #fff;
    --hover-color: #d9d9d9;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  .Cadastro .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Cadastro .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .Cadastro .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .Cadastro:hover {
    background-color: var(--hover-color);
  }
  
  .Cadastro:hover .arrow {
    background: var(--secondary-color);
  }
  
  .Cadastro:hover .arrow:before {
    right: 0;
  }

  /*Video*/
  .Video {
    width: 1583px;
    height: 694px; /* Ajuste conforme necessário */
    background-image: url('../../assets/images/videos/altaQualidade.gif');
    background-size: cover; /* Para cobrir toda a área da div */
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: -1; /* Para colocar a div atrás do conteúdo */
  }

.Video .conteudo {
    height: 100%;
    width: 100%;
    background-color: #33333380;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 54px;
}

.conteudo h1 {
  font-size: 40px;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 40px;
}

.conteudo h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin-bottom:40px;
}

.torneProdutividade {
  background-color: #F38342;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


  /* Frase diga adeu as comandas de papel */
  .Frase {
    width: 1583px;
    height: 280px;
    background-color: #005A8D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: "Roboto", sans-serif;
    flex-direction: column;
    gap: 30px;
  }

  h1{
    font-size: 16px;
    font-weight: bold;
  }

p{
    text-align: center;
    font-size: 32px;
}


/*Simplificando suas entregas*/
.solution-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 76px;
    margin-bottom: 100px;
  }

  .simplificando{
    font-size: 42px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
  }

  .um{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.imgNotebook {
    background-image: url('../../assets/images/Celular.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 741px;
    height: 450px; 
  }

  /* App.css */
.app-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .solution-description h2 {
    color: #333;
    text-align: center;
  }
  
  .solution-description .highlight {
    color: #F38342;
  }
  
  .solution-description p {
    color: #555;
    line-height: 1.6;
    text-align: center;
    font-size: 20px;
    width: 674px;
  }
  
  .dois{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }


  /*Funcionalidades*/
  .Funcionalidades {
    width: 1583px;
    height: 473px;
    background-color: #F3F0ED;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
  }

  .Funcionalidades p {
    font-size: 14px;
    font-weight: bold;
    color: #F38342;
  }

  .Funcionalidades h1 {
    font-size: 40px;
    font-weight: 300;
    color: #F38342;
  }

  .Func {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
  }

  .facilUsabilidade { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .usabilidade {
    background-image: url('../../assets/images/icons/usabilidade.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  .gestaoSimplificada { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .gestao {
    background-image: url('../../assets/images/icons/gestao-da-informacao.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  .gerenciamentoComandas { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .Comandas {
    background-image: url('../../assets/images/icons/fatura.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  .Financeiro { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .educacao {
    background-image: url('../../assets/images/icons/cofrinho.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
  }


  /*Pagamentos*/
  .NossosPlanos {
    background-color: #ECF3FB;
    width: 1583px;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .NossosPlanos h1 {
    font-size: 52px;
    font-family: "Roboto", sans-serif;
    color: #333;
  }

  .TiposPlanos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
  }


  /* DESPERTE*/

  .Desperte {
    width: 270px;
    height: 350px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tituloCard {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #474747;
}

.conteudoPlano {
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
}

.precoVelho {
    text-decoration: line-through;
    color: #ff0000;
    font-size: 16px;
    margin-right: 90px;
}

.precoNovo {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.buttonCard {
  background-color: #F38342;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buttonCard:hover {
    background-color: #e6692e;
}



/* Footer */

/* Add these styles to your existing styles.css file */

.footer {
  background-color: #005b80;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  font-size: 14px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  margin: 0 0 10px;
}

.footer-section p {
  padding: 0;
  margin: 0;
  display: inline;
  margin-right: 15px;
  color: white;
  font-size: 14px;
  display: flex;
  text-align: left;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  display: inline;
  margin-right: 15px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}