.modalPerfilBackdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalPerfilConteiner {
    position: relative;
    background: #ffffff;
    width: 50%;
    margin-left: 23%;
    padding: 30px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.modalPerfilBotaoFechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 35px;
    font-weight: 700;
    margin: 0px 18px;
    cursor: pointer;
    color: var(--color2);

}

.modalPerfilHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.modalPerfilStatusCor {
    padding: 10px;
    background-color: #1c77d2;
    color: white;
    font-family: Biryani;
    font-weight: 700;
    padding: 5px 10px 1px 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    width: fit-content;
    position: absolute;
}

.online {
    background-color: #6BDACC;
    color: #000000;
}

.offline {
    background-color: #2B2B36;
    color: #ffffff;
}

.modalPerfilStatusCor>p {
    color: #FFF;
    font-family: Biryani;
    font-size: 20px;
    font-weight: 800;
}

.modalPerfilTitulo {
    color: #222;
    text-align: center;
    font-family: Biryani;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
}

.modalImagemContainer p {
    background-color: #D9D9D9;
    width: 150px;
    height: 150px;
    font-size: 50px;
    line-height: 100%;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modalPerfilInfoEntregador {
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: row; */
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    gap: 10px;
    justify-content: space-between;
    margin: 30px 0px;
}

.modalPerfilGrupo {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
    justify-content: center;
}

.modalPerfilCampo {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;

    >p {
        font-family: Biryani;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    >p:not(.modalPerfilCampoDest) {
        color: #222;

    }
}

.modalPerfilCampoDest {
    color: #005A8D;
    font-family: Biryani;
    font-weight: 600;
}

.modalPerfilBotoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modaPerfilBotaoEnviar {
    padding: 10px;
    background-color: var(--color2);
    color: white;
    font-size: 16px;
    font-family: Biryani;
    font-weight: 700;
    line-height: 100%;
    padding: 15px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;

    &:hover {
        background-color: #d46c30;
    }
}

.modalPerfilBotaoAlterar {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;

}

.modalPerfilBotaoAlterar img {
    width: 30px;
    height: auto;
}

/* alterar */


.modalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalImagemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modalImagemContainer label {
    background-color: #D9D9D9;
    ;
    width: 150px;
    height: 150px;
    font-size: 50px;
    line-height: 100%;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.modalImagemContainer input {
    display: none;
}

.modalImagem {
    width: 50px;
    height: 50px;
}

.modalFormConteiner {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.modalFormGrupo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modalFormGrupo label {
    color: var(--color6);
    font-family: Biryani;
    font-size: 16px;
    font-weight: 600;
}

.modalFormGrupo input {
    background: #ECF3FB;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    color: var(--color6);
    font-family: Biryani;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;

    &:focus{
        outline: 1px solid #c9e2ff;
    }
}

.modalBotoes{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    gap: 10px;
}

.modalBotaoEnviar {
    padding: 10px;
    background-color: #3699FF;
    color: white;
    font-family: Biryani;
    font-weight: 700;
    line-height: 100%;
    padding: 15px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;

    &:hover{
        background-color: #0f6ed4;
    }
}

.modalBotaoEnviar {
    padding: 10px;
    background-color: #3699FF;
    color: white;
    font-family: Biryani;
    font-weight: 700;
    line-height: 100%;
    padding: 15px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;

    &.cancelar {
        background-color: #F64E60;
    }
}

@media screen and (max-width: 1199px) {
    .modalFormConteiner {
        flex-wrap: wrap;
    }
}
/* ------- */


.modalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalImagemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modalImagem {
    width: 50px;
    height: 50px;
}

.modalFormConteiner {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.modalFormGrupo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modalFormGrupo label {
    color: var(--color6);
    font-family: Biryani;
    font-size: 16px;
    font-weight: 600;
}

.modalFormGrupo input {
    background: #ECF3FB;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    color: var(--color6);
    font-family: Biryani;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;

    &:focus {
        outline: 1px solid #c9e2ff;
    }
}

@media screen and (max-width: 1000px){
    .modalFormGrupo input {
        width: 45% !important;
    }
}