.modalBackdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalConteiner {
    position: relative;
    background: #ffffff;
    margin-left: 15%;
    padding: 30px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.modalBotaoFechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 35px;
    font-weight: 700;
    margin: 0px 18px;
    cursor: pointer;
    color: var(--color2);

}

.modalTitulo {
    color: #222;
    text-align: center;
    font-family: Biryani;
    font-size: 30px;
    font-weight: 800;
}

.modalSubTitulo {
    font-size: 20px;
    font-weight: 600;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalImagemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modalImagemContainer label {
    background-color: #D9D9D9;
    ;
    width: 150px;
    height: 150px;
    font-size: 50px;
    line-height: 100%;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.modalImagemContainer input {
    display: none;
}

.modalImagem {
    width: 50px;
    height: 50px;
}

.modalFormConteiner {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.modalFormGrupo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modalFormGrupo label {
    color: var(--color6);
    font-family: Biryani;
    font-size: 16px;
    font-weight: 600;
}

.modalFormGrupo input {
    background: #ECF3FB;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    color: var(--color6);
    font-family: Biryani;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;

    &:focus {
        outline: 1px solid #c9e2ff;
    }
}

.modalBotoes {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 10px;
}

.modalBotaoEnviar {
    padding: 10px;
    background-color: #3699FF;
    color: white;
    font-family: Biryani;
    font-weight: 700;
    line-height: 100%;
    padding: 15px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;

    &:not(.cancelar):hover {
        background-color: #0f6ed4;
    }
}

.cancelar {
    background-color: #F64E60;
   
    &:hover {
        background-color: #cd3e4c;
    }
}


@media screen and (max-width: 1199px) {
    .modalFormConteiner {
        flex-wrap: wrap;
    }
}